<!DOCTYPE html>
<html>
    <head>
        <title>National Parks Bucket List Creator</title>

		<script src="https://code.jquery.com/jquery.js"></script>

        <script src="/assets/data/activities.js"></script>
        <script src="/assets/data/topics.js"></script>
        <script src="/assets/data/parks.js"></script>

        <script src="/assets/js/apiCalls.js"></script>


<!-- Bootstrap CDN -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

<!-- tiny slider tns and css-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/tiny-slider.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>

    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

    </head>

    <body>

        {{> navbar}}

        {{{body}}}


          {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.js"></a> --}}

    </body>

          {{!-- <script src= "../public/assets/js/focus.js"></script> --}}
</html>