<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Explore Page</title>

</head>

<body>
    <!--Jumbotron for Title (modified)-->
    <div class="jumbotron container-fluid mt-2 text-center p-2" style="background-color:#404040 ;color: white;">
        <h1>Let's Explore our National Parks !</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 bg-grey">

                <h5>Choose an Activity, Topic or Park</h5>

                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">
                        Activities
                    </button>
                    <button type="button" class="btn btn-primary">
                        <select class=" custom-select" id="selectedActivity" onchange="showActivity(this)">
                            <option value="">-- Select --</option>
                        </select>
                    </button>
                </div>
                <hr>

                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">
                        Topics
                    </button>
                    <button type="button" class="btn btn-primary">
                        <select class="custom-select" id="selectedTopic" onchange="showTopic(this)">
                            <option value="">-- Select --</option>
                        </select>
                    </button>
                </div>
                <hr>
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">
                        Parks
                    </button>
                    <button type="button" class="btn btn-primary">
                        <select class="custom-select" id="selectedPark" onchange="showPark(this)">
                            <option value="">-- Select --</option>
                        </select>
                    </button>
                </div>


            </div>

            <div class="col-sm-4">

            <h5 style='padding-left: 20px'>Generate matching list of Parks</h5>
                <div class="col-sm-12" id="Park-info">
                    <ul class="list-group">
                        <li class="list-group-item" id="activitySelected">

                        </li>
                        <li class="list-group-item" id="topicSelected">

                        </li>
                        <li class="list-group-item" id="parkSelected">

                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-sm-4" >

            <h5>Select a Park to Focus upon</h5>

                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">
                        Filtered Parks
                    </button>
                    <button type="button" class="btn btn-primary">
                        <select class="custom-select" id="selectedFilteredPark" 
                        onchange="showFilteredPark(this)">
                            <option value="">-- Select --</option>
                        </select>
                    </button>
                    <br>
                </div>

                <br>
               <div class="h4" id="finalParkSelection" align='left'></div>

                <br>

                <button class=" btn btn-primary" style="margin:5px" type="button" id="clear-search">Clear</button>

                <button class=" btn btn-primary" style="margin:5px" float="right" type="button"
                    id="focus-on-park">focus</button>
            </div>
        </div>
        <hr>
    </div>

<script src="/assets/js/explore.js"></script>
   
    {{!-- <!--jQuery JS-->
    <script src="https://code.jquery.com/jquery.js"></script> --}}

</body>
</html>
