<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Explore Page</title>
    <!--Bootstrap CSS CDN-->
    {{!-- <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" /> --}}
    <!-- Font Awesome CSS Icons (For cool glyphicons) -->
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css"> --}}
</head>

<body>
    <!--Jumbotron for Title-->
    <div class="jumbotron container-fluid mt-2 text-center p-2" style="background-color:#404040 ;color: white;">
        <h1>Let's Explore our National Parks !</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 bg-grey">

                <h5>Choose an Activity, Topic or Park</h5>

                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">
                        Activities
                    </button>
                    <button type="button" class="btn btn-primary">
                        <select class=" custom-select" id="selectedActivity" onchange="showActivity(this)">
                            <option value="">-- Select --</option>
                        </select>
                    </button>
                </div>
                <hr>

                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">
                        Topics
                    </button>
                    <button type="button" class="btn btn-primary">
                        <select class="custom-select" id="selectedTopic" onchange="showTopic(this)">
                            <option value="">-- Select --</option>
                        </select>
                    </button>
                </div>
                <hr>
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">
                        Parks
                    </button>
                    <button type="button" class="btn btn-primary">
                        <select class="custom-select" id="selectedPark" onchange="showPark(this)">
                            <option value="">-- Select --</option>
                        </select>
                    </button>
                </div>
                <!-- <hr> -->

            </div>

            <div class="col-sm-4">

            <h5 style='padding-left: 20px'>Generate matching list of Parks</h5>
                <div class="col-sm-12" id="Park-info">
                    <ul class="list-group">
                        <li class="list-group-item" id="activitySelected">

                        </li>
                        <li class="list-group-item" id="topicSelected">

                        </li>
                        <li class="list-group-item" id="parkSelected">

                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-sm-4" >

            <h5>Select a Park to Focus upon</h5>

                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">
                        Filtered Parks
                    </button>
                    <button type="button" class="btn btn-primary">
                        <select class="custom-select" id="selectedFilteredPark" 
                        onchange="showFilteredPark(this)">
                            <option value="">-- Select --</option>
                        </select>
                    </button>
                    <br>
                </div>

                <br>
               <div class="h4" id="finalParkSelection" align='left'></div>

                <br>

                <button class=" btn btn-primary" style="margin:5px" type="button" id="clear-search">Clear</button>

                <button class=" btn btn-primary" style="margin:5px" float="right" type="button"
                    id="focus-on-park">focus</button>
            </div>


            <!-- <div class="row ml-2 border border-dark rounded"> -->
            <!-- </div> -->
        </div>
        <hr>
    </div>
   
    <!--jQuery JS-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <!--Code to Jvascript File-->

</body>
<script>
    function populateTopic() {
        // THE JSON ARRAY.
        var topics = [{ "topic_code": "28AEAE85-9DDA-45B6-981B-1CFCDCC61E14", "topic_name": "African American Heritage" },
        { "topic_code": "F3883A66-A7CB-461B-868E-1B5932224B25", "topic_name": "American Revolution" },
        { "topic_code": "FB3641FE-67A3-4EC7-B9C4-0A0867776798", "topic_name": "Ancient Seas" },
        { "topic_code": "0D00073E-18C3-46E5-8727-2F87B112DDC6", "topic_name": "Animals" },
        { "topic_code": "7F81A0CB-B91F-4896-B9A5-41BE9A54A27B", "topic_name": "Archeology" },
        { "topic_code": "69693007-2DF2-4EDE-BB3B-A25EBA72BDF5", "topic_name": "Architecture and Building" },
        { "topic_code": "77B7EFDF-1A74-409C-8BA2-324EC919DB0E", "topic_name": "Arctic" },
        { "topic_code": "00F3C3F9-2D67-4802-81AE-CCEA5D3BA370", "topic_name": "Arts" },
        { "topic_code": "227D2677-28CA-4CBF-997F-61108975A497", "topic_name": "Asian American Heritage" },
        { "topic_code": "B912363F-771C-4098-BA3A-938DF38A9D7E", "topic_name": "Aviation" }, { "topic_code": "FC27FD15-62AA-4662-A97F-8E2A1A7CDE35", "topic_name": "Banking" },
        { "topic_code": "D10852A3-443C-4743-A5FA-6DD6D2A054B3", "topic_name": "Birthplace" },
        { "topic_code": "607D41B0-F830-4C07-A557-BCEF880A3929", "topic_name": "Burial, Cemetery and Gravesite" },
        { "topic_code": "7F12224B-217A-4B07-A4A2-636B1CE7F221", "topic_name": "Colonization and Settlement" },
        { "topic_code": "1170EEB6-5070-4760-8E7D-FF1A98272FAD", "topic_name": "Commerce" },
        { "topic_code": "DAAD7F5E-9112-45F2-9A27-DA51B639F27E", "topic_name": "Dams" },
        { "topic_code": "FE005582-12C5-472C-8229-3CB004DB050E", "topic_name": "Engineering" },
        { "topic_code": "D9FC6D14-F8C7-4EBA-86EA-DFD99B6BB4F5", "topic_name": "Enslavement" },
        { "topic_code": "12EA2B56-17EC-410A-A10D-BFBA87A0669B", "topic_name": "Explorers and Expeditions" },
        { "topic_code": "1F833C99-A75D-4F9E-9256-B96523485466", "topic_name": "Farming and  Agriculture" },
        { "topic_code": "988B4AFC-F478-4673-B66D-E6BDB0CCFF35", "topic_name": "Forts" },
        { "topic_code": "F12B6BDB-2FE9-4961-9DC2-59FEBC0990CD", "topic_name": "Great Depression" },
        { "topic_code": "78078CA8-DCBC-4320-A7BF-259A56D55CA2", "topic_name": "Hispanic American Heritage" },
        { "topic_code": "2B428F59-9148-40C1-B38E-130589F2540E", "topic_name": "Immigration" },
        { "topic_code": "351EE154-87AA-46B0-BBA1-ED604368ACE9", "topic_name": "Incarceration" },
        { "topic_code": "0B575E33-B68F-4F3D-998E-B03284606CF3", "topic_name": "Industry" },
        { "topic_code": "14FA9FF3-7D86-4406-9A6D-BE9032A1C578", "topic_name": "Laborer and Worker" },
        { "topic_code": "AF4F1CDF-E6C4-4886-BA91-8BC887DC2793", "topic_name": "Landscape Design" },
        { "topic_code": "9FCC01C6-F068-4A05-9A78-23FEBFADAF56", "topic_name": "Latino American Heritage" },
        { "topic_code": "E0AB480F-3A94-4DC1-8B21-9555F2C59B32", "topic_name": "LGBTQ American Heritage" },
        { "topic_code": "4C9D4777-A9DA-47D1-A0B9-F4A3C98BC1B3", "topic_name": "Maritime" },
        { "topic_code": "4B3CD083-7500-434B-A8C2-D355925E0245", "topic_name": "Medicine" },
        { "topic_code": "69E16062-0E4F-4DE0-91FB-E4EDB2484572", "topic_name": "Migrations" },
        { "topic_code": "3B0D607D-9933-425A-BFA0-21529AC4734C", "topic_name": "Military" },
        { "topic_code": "BEB7E470-13B2-4E00-84B2-0402D98DAF69", "topic_name": "Monuments and Memorials" },
        { "topic_code": "571E1597-4C6A-4814-A7E9-FC4EF8293CE8", "topic_name": "Music" },
        { "topic_code": "A1BAF33E-EA84-4608-A888-4CEE9541F027", "topic_name": "Native American Heritage" },
        { "topic_code": "272549CF-EAA4-4603-8E20-FBE1AAB391B7", "topic_name": "Pacific Islander Heritage" },
        { "topic_code": "F669BC40-BDC4-41C0-9ACE-B2CD25373045", "topic_name": "Prestopic_codeents" },
        { "topic_code": "BAA85463-A96E-4CF4-A260-290D195423DB", "topic_name": "Reconstruction" },
        { "topic_code": "518B32FB-339D-4C52-B2C2-04BF406AA4B0", "topic_name": "Religion and Spirituality" },
        { "topic_code": "3CDB67A9-1EAC-408D-88EC-F26FA35E90AF", "topic_name": "Schools and Education" },
        { "topic_code": "D1CF31DE-AFED-412B-9425-DD1FD4CBB5C7", "topic_name": "Science, Technology and Innovation" },
        { "topic_code": "40C0866A-3890-41A4-84CA-5935DEE181AE", "topic_name": "Social Movements" },
        { "topic_code": "A160B3D9-1603-4D89-B82F-21FCAF9EEE3B", "topic_name": "Tragic Events" },
        { "topic_code": "FE2C2613-B41E-4531-BC43-03EB6E45CBCF", "topic_name": "Transportation" },
        { "topic_code": "846E5C56-E5AC-489C-B3BF-11F4C73F12C2", "topic_name": "Urban America" },
        { "topic_code": "27BF8807-54EA-4A3D-B073-AA7AA361CD7E", "topic_name": "Wars and Conflicts" },
        { "topic_code": "C9C749E3-39C3-45F7-BCC5-9A609E30AA05", "topic_name": "Westward Expansion" },
        { "topic_code": "7DA81DAB-5045-4953-9C20-36590AD9FA95", "topic_name": "Women's History" }];

        var topic = document.getElementById('selectedTopic');
        for (var i = 0; i < topics.length; i++) {
            // POPULATE SELECT ELEMENT WITH JSON.
            topic.innerHTML = topic.innerHTML +
                '<option value="' + topics[i]['topic_code'] + '">' + topics[i]['topic_name'] + '</option>';
        }
    }

    // let topicSelectedCode="";
    function showTopic(topic) {
        // GET THE SELECTED VALUE FROM <select> ELEMENT AND SHOW IT.
        var topicSelected = document.getElementById('topicSelected');
        topicSelected.innerHTML = 'Selected Topic: <br><b>' + topic.options[topic.selectedIndex].text;
        console.log('showing topic: ' + topic.value);
        console.log(topic.value);
        localStorage.topicSelected=topic.value  
    
        }


    // ***************************************************************************
    // Activity block
    let activitySelectedCode =""
    function populateActivity() {
        // THE JSON ARRAY.
        var activities = [{ "activity_code": "09DF0950-D319-4557-A57E-04CD2F63FF42", "activity_name": "Arts and Culture" },
        { "activity_code": "13A57703-BB1A-41A2-94B8-53B692EB7238", "activity_name": "Astronomy" },
        { "activity_code": "5F723BAD-7359-48FC-98FA-631592256E35", "activity_name": "Auto and ATV" },
        { "activity_code": "7CE6E935-F839-4FEC-A63E-052B1DEF39D2", "activity_name": "Biking" },
        { "activity_code": "071BA73C-1D3C-46D4-A53C-00D5602F7F0E", "activity_name": "Boating" },
        { "activity_code": "A59947B7-3376-49B4-AD02-C0423E08C5F7", "activity_name": "Camping" },
        { "activity_code": "07CBCA6A-46B8-413F-8B6C-ABEDEBF9853E", "activity_name": "Canyoneering" },
        { "activity_code": "BA316D0F-92AE-4E00-8C80-DBD605DC58C3", "activity_name": "Caving" },
        { "activity_code": "B12FAAB9-713F-4B38-83E4-A273F5A43C77", "activity_name": "Climbing" },
        { "activity_code": "C11D3746-5063-4BD0-B245-7178D1AD866C", "activity_name": "Compass and GPS" },
        { "activity_code": "8C495067-8E94-4D78-BBD4-3379DACF6550", "activity_name": "Dog Sledding" },
        { "activity_code": "AE42B46C-E4B7-4889-A122-08FE180371AE", "activity_name": "Fishing" },
        { "activity_code": "D72206E4-6CD1-4441-A355-F8F1827466B1", "activity_name": "Flying" },
        { "activity_code": "1DFACD97-1B9C-4F5A-80F2-05593604799E", "activity_name": "Food" },
        { "activity_code": "3F3ABD16-2C52-4EAA-A1F6-4235DE5686F0", "activity_name": "Golfing" },
        { "activity_code": "B33DC9B6-0B7D-4322-BAD7-A13A34C584A3", "activity_name": "Guactivity_codeed Tours" },
        { "activity_code": "42FD78B9-2B90-4AA9-BC43-F10E9FEA8B5A", "activity_name": "Hands-On" },
        { "activity_code": "BFF8C027-7C8F-480B-A5F8-CD8CE490BFBA", "activity_name": "Hiking" },
        { "activity_code": "0307955A-B65C-4CE4-A780-EB36BAAADF0B", "activity_name": "Horse Trekking" },
        { "activity_code": "8386EEAF-985F-4DE8-9037-CCF91975AC94", "activity_name": "Hunting and Gathering" },
        { "activity_code": "5FF5B286-E9C3-430E-B612-3380D8138600", "activity_name": "Ice Skating" },
        { "activity_code": "DF4A35E0-7983-4A3E-BC47-F37B872B0F25", "activity_name": "Junior Ranger Program" },
        { "activity_code": "B204DE60-5A24-43DD-8902-C81625A09A74", "activity_name": "Living History" },
        { "activity_code": "C8F98B28-3C10-41AE-AA99-092B3B398C43", "activity_name": "Museum Exhibits" },
        { "activity_code": "4D224BCA-C127-408B-AC75-A51563C42411", "activity_name": "Paddling" },
        { "activity_code": "0C0D142F-06B5-4BE1-8B44-491B90F93DEB", "activity_name": "Park Film" },
        { "activity_code": "7779241F-A70B-49BC-86F0-829AE332C708", "activity_name": "Playground" },
        { "activity_code": "42CF4021-8524-428E-866A-D33097A4A764", "activity_name": "SCUBA Diving" },
        { "activity_code": "24380E3F-AD9D-4E38-BF13-C8EEB21893E7", "activity_name": "Shopping" },
        { "activity_code": "F9B1D433-6B86-4804-AED7-B50A519A3B7C", "activity_name": "Skiing" },
        { "activity_code": "3EBF7EAC-68FC-4754-B6A4-0C38A1583D45", "activity_name": "Snorkeling" },
        { "activity_code": "C38B3C62-1BBF-4EA1-A1A2-35DE21B74C17", "activity_name": "Snow Play" },
        { "activity_code": "7C912B83-1B1B-4807-9B66-97C12211E48E", "activity_name": "Snowmobiling" },
        { "activity_code": "01D717BC-18BB-4FE4-95BA-6B13AD702038", "activity_name": "Snowshoeing" },
        { "activity_code": "AE3C95F5-E05B-4A28-81DD-1C5FD4BE88E2", "activity_name": "Surfing" },
        { "activity_code": "587BB2D3-EC35-41B2-B3F7-A39E2B088AEE", "activity_name": "Swimming" },
        { "activity_code": "94369BFD-F186-477E-8713-AE2A745154DA", "activity_name": "Team Sports" },
        { "activity_code": "4D06CEED-90C6-4B69-B264-32CC90B69BA6", "activity_name": "Tubing" },
        { "activity_code": "8A1C7B17-C2C6-4F7C-9539-EA1E19971D80", "activity_name": "Water Skiing" },
        { "activity_code": "0B685688-3405-4E2A-ABBA-E3069492EC50", "activity_name": "Wildlife Watching" }]

        var activity = document.getElementById('selectedActivity');
        for (var i = 0; i < activities.length; i++) {
            // POPULATE SELECT ELEMENT WITH JSON.
            activity.innerHTML = activity.innerHTML +
                '<option value="' + activities[i]['activity_code'] + '">' + activities[i]['activity_name'] + '</option>';
        }
    }

    function showActivity(activity) {
        // GET THE SELECTED VALUE FROM <select> ELEMENT AND SHOW IT.
        var activitySelected = document.getElementById('activitySelected');
        activitySelected.innerHTML = 'Selected Activity: <br><b>' + activity.options[activity.selectedIndex].text;
        console.log(activity.value)
        activitySelectedCode=activity.value
        console.log(activitySelectedCode);
        localStorage.activitySelected=activity.value  
    
        }

    // ***************************************************************************
    // Parkblock

    function populatePark() {
        // THE JSON ARRAY.
        var parks = [
 {"park_name":"Abraham Lincoln Birthplace National Historical Park", "park_code":"abli"},
 {"park_name":"Acadia National Park", "park_code":"acad"},
 {"park_name":"Adams National Historical Park", "park_code":"adam"},
 {"park_name":"African American Civil War Memorial ", "park_code":"afam"},
 {"park_name":"African Burial Ground National Monument", "park_code":"afbg"},
 {"park_name":"Agate Fossil Beds National Monument", "park_code":"agfo"},
 {"park_name":"Ala Kahakai National Historic Trail", "park_code":"alka"},
 {"park_name":"Alagnak Wild River", "park_code":"alag"},
 {"park_name":"Alaska Public Lands ", "park_code":"anch"},
 {"park_name":"Alcatraz Island ", "park_code":"alca"},
 {"park_name":"Aleutian Islands World War II National Historic Area", "park_code":"aleu"},
 {"park_name":"Alibates Flint Quarries National Monument", "park_code":"alfl"},
 {"park_name":"Allegheny Portage Railroad National Historic Site", "park_code":"alpo"},
 {"park_name":"American Memorial Park", "park_code":"amme"},
 {"park_name":"Amistad National Recreation Area", "park_code":"amis"},
 {"park_name":"Anacostia Park", "park_code":"anac"},
 {"park_name":"Andersonville National Historic Site", "park_code":"ande"},
 {"park_name":"Andrew Johnson National Historic Site", "park_code":"anjo"},
 {"park_name":"Aniakchak National Monument & Preserve", "park_code":"ania"},
 {"park_name":"Antietam National Battlefield", "park_code":"anti"},
 {"park_name":"Apostle Islands National Lakeshore", "park_code":"apis"},
 {"park_name":"Appalachian National Scenic Trail", "park_code":"appa"},
 {"park_name":"Appomattox Court House National Historical Park", "park_code":"apco"},
 {"park_name":"Arabia Mountain National Heritage Area", "park_code":"armo"},
 {"park_name":"Arches National Park", "park_code":"arch"},
 {"park_name":"Arkansas Post National Memorial", "park_code":"arpo"},
 {"park_name":"Arlington House, The Robert  E. Lee Memorial ", "park_code":"arho"},
 {"park_name":"Assateague Island National Seashore", "park_code":"asis"},
 {"park_name":"Atchafalaya National Heritage Area", "park_code":"attr"},
 {"park_name":"Augusta Canal National Heritage Area", "park_code":"auca"},
 {"park_name":"Aztec Ruins National Monument", "park_code":"azru"},
 {"park_name":"Badlands National Park", "park_code":"badl"},
 {"park_name":"Baltimore National Heritage Area", "park_code":"balt"},
 {"park_name":"Baltimore-Washington Parkway", "park_code":"bawa"},
 {"park_name":"Bandelier National Monument", "park_code":"band"},
 {"park_name":"Belmont-Paul Women's Equality National Monument", "park_code":"bepa"},
 {"park_name":"Bent's Old Fort National Historic Site", "park_code":"beol"},
 {"park_name":"Bering Land Bridge National Preserve", "park_code":"bela"},
 {"park_name":"Big Bend National Park", "park_code":"bibe"},
 {"park_name":"Big Cypress National Preserve", "park_code":"bicy"},
 {"park_name":"Big Hole National Battlefield", "park_code":"biho"},
 {"park_name":"Big South Fork National River & Recreation Area", "park_code":"biso"},
 {"park_name":"Big Thicket National Preserve", "park_code":"bith"},
 {"park_name":"Bighorn Canyon National Recreation Area", "park_code":"bica"},
 {"park_name":"Birmingham Civil Rights National Monument", "park_code":"bicr"},
 {"park_name":"Biscayne National Park", "park_code":"bisc"},
 {"park_name":"Black Canyon Of The Gunnison National Park", "park_code":"blca"},
 {"park_name":"Blackstone River Valley National Historical Park", "park_code":"blrv"},
 {"park_name":"Blue Ridge National Heritage Area", "park_code":"blrn"},
 {"park_name":"Blue Ridge Parkway", "park_code":"blri"},
 {"park_name":"Bluestone National Scenic River", "park_code":"blue"},
 {"park_name":"Booker T Washington National Monument", "park_code":"bowa"},
 {"park_name":"Boston African American National Historic Site", "park_code":"boaf"},
 {"park_name":"Boston Harbor Islands National Recreation Area", "park_code":"boha"},
 {"park_name":"Boston National Historical Park", "park_code":"bost"},
 {"park_name":"Brices Cross Roads National Battlefield Site", "park_code":"brcr"},
 {"park_name":"Brown v. Board of Education National Historic Site", "park_code":"brvb"},
 {"park_name":"Bryce Canyon National Park", "park_code":"brca"},
 {"park_name":"Buck Island Reef National Monument", "park_code":"buis"},
 {"park_name":"Buffalo National River", "park_code":"buff"},
 {"park_name":"C\u00c3\u00a9sar E. Ch\u00c3\u00a1vez National Monument", "park_code":"cech"},
 {"park_name":"Cabrillo National Monument", "park_code":"cabr"},
 {"park_name":"California National Historic Trail", "park_code":"cali"},
 {"park_name":"Camp Nelson National Monument", "park_code":"cane"},
 {"park_name":"Canaveral National Seashore", "park_code":"cana"},
 {"park_name":"Cane River Creole National Historical Park", "park_code":"cari"},
 {"park_name":"Cane River National Heritage Area", "park_code":"crha"},
 {"park_name":"Canyon de Chelly National Monument", "park_code":"cach"},
 {"park_name":"Canyonlands National Park", "park_code":"cany"},
 {"park_name":"Cape Cod National Seashore", "park_code":"caco"},
 {"park_name":"Cape Hatteras National Seashore", "park_code":"caha"},
 {"park_name":"Cape Henry Memorial Part of Colonial National Historical Park", "park_code":"came"},
 {"park_name":"Cape Krusenstern National Monument", "park_code":"cakr"},
 {"park_name":"Cape Lookout National Seashore", "park_code":"calo"},
 {"park_name":"Capitol Hill Parks ", "park_code":"cahi"},
 {"park_name":"Capitol Reef National Park", "park_code":"care"},
 {"park_name":"Captain John Smith Chesapeake National Historic Trail", "park_code":"cajo"},
 {"park_name":"Capulin Volcano National Monument", "park_code":"cavo"},
 {"park_name":"Carl Sandburg Home National Historic Site", "park_code":"carl"},
 {"park_name":"Carlsbad Caverns National Park", "park_code":"cave"},
 {"park_name":"Carter G. Woodson Home National Historic Site", "park_code":"cawo"},
 {"park_name":"Casa Grande Ruins National Monument", "park_code":"cagr"},
 {"park_name":"Castillo de San Marcos National Monument", "park_code":"casa"},
 {"park_name":"Castle Clinton National Monument", "park_code":"cacl"},
 {"park_name":"Castle Mountains National Monument", "park_code":"camo"},
 {"park_name":"Catoctin Mountain Park", "park_code":"cato"},
 {"park_name":"Cedar Breaks National Monument", "park_code":"cebr"},
 {"park_name":"Cedar Creek & Belle Grove National Historical Park", "park_code":"cebe"},
 {"park_name":"Chaco Culture National Historical Park", "park_code":"chcu"},
 {"park_name":"Chamizal National Memorial", "park_code":"cham"},
 {"park_name":"Champlain Valley National Heritage Partnership", "park_code":"chva"},
 {"park_name":"Channel Islands National Park", "park_code":"chis"},
 {"park_name":"Charles Pinckney National Historic Site", "park_code":"chpi"},
 {"park_name":"Charles Young Buffalo Soldiers National Monument", "park_code":"chyo"},
 {"park_name":"Chattahoochee River National Recreation Area", "park_code":"chat"},
 {"park_name":"Chesapeake & Ohio Canal National Historical Park", "park_code":"choh"},
 {"park_name":"Chesapeake Bay ", "park_code":"cbpo"},
 {"park_name":"Chickamauga & Chattanooga National Military Park", "park_code":"chch"},
 {"park_name":"Chickasaw National Recreation Area", "park_code":"chic"},
 {"park_name":"Chiricahua National Monument", "park_code":"chir"},
 {"park_name":"Christiansted National Historic Site", "park_code":"chri"},
 {"park_name":"City Of Rocks National Reserve", "park_code":"ciro"},
 {"park_name":"Civil War Defenses of Washington ", "park_code":"cwdw"},
 {"park_name":"Clara Barton National Historic Site", "park_code":"clba"},
 {"park_name":"Coal National Heritage Area", "park_code":"coal"},
 {"park_name":"Colonial National Historical Park", "park_code":"colo"},
 {"park_name":"Colorado National Monument", "park_code":"colm"},
 {"park_name":"Coltsville National Historical Park", "park_code":"colt"},
 {"park_name":"Congaree National Park", "park_code":"cong"},
 {"park_name":"Constitution Gardens ", "park_code":"coga"},
 {"park_name":"Coronado National Memorial", "park_code":"coro"},
 {"park_name":"Cowpens National Battlefield", "park_code":"cowp"},
 {"park_name":"Crater Lake National Park", "park_code":"crla"},
 {"park_name":"Craters Of The Moon National Monument & Preserve", "park_code":"crmo"},
 {"park_name":"Crossroads of the American Revolution National Heritage Area", "park_code":"xrds"},
 {"park_name":"Cumberland Gap National Historical Park", "park_code":"cuga"},
 {"park_name":"Cumberland Island National Seashore", "park_code":"cuis"},
 {"park_name":"Curecanti National Recreation Area", "park_code":"cure"},
 {"park_name":"Cuyahoga Valley National Park", "park_code":"cuva"},
 {"park_name":"David Berger National Memorial", "park_code":"dabe"},
 {"park_name":"Dayton Aviation Heritage National Historical Park", "park_code":"daav"},
 {"park_name":"De Soto National Memorial", "park_code":"deso"},
 {"park_name":"Death Valley National Park", "park_code":"deva"},
 {"park_name":"Delaware & Lehigh National Heritage Corridor", "park_code":"dele"},
 {"park_name":"Delaware Water Gap National Recreation Area", "park_code":"dewa"},
 {"park_name":"Denali National Park & Preserve", "park_code":"dena"},
 {"park_name":"Devils Postpile National Monument", "park_code":"depo"},
 {"park_name":"Devils Tower National Monument", "park_code":"deto"},
 {"park_name":"Dinosaur National Monument", "park_code":"dino"},
 {"park_name":"Dry Tortugas National Park", "park_code":"drto"},
 {"park_name":"Dwight D. Eisenhower Memorial", "park_code":"ddem"},
 {"park_name":"Ebey's Landing National Historical Reserve", "park_code":"ebla"},
 {"park_name":"Edgar Allan Poe National Historic Site", "park_code":"edal"},
 {"park_name":"Effigy Mounds National Monument", "park_code":"efmo"},
 {"park_name":"Eisenhower National Historic Site", "park_code":"eise"},
 {"park_name":"El Camino Real de los Tejas National Historic Trail", "park_code":"elte"},
 {"park_name":"El Camino Real de Tierra Adentro National Historic Trail", "park_code":"elca"},
 {"park_name":"El Malpais National Monument", "park_code":"elma"},
 {"park_name":"El Morro National Monument", "park_code":"elmo"},
 {"park_name":"Eleanor Roosevelt National Historic Site", "park_code":"elro"},
 {"park_name":"Ellis Island Part of Statue of Liberty National Monument", "park_code":"elis"},
 {"park_name":"Erie Canalway National Heritage Corridor", "park_code":"erie"},
 {"park_name":"Essex National Heritage Area", "park_code":"esse"},
 {"park_name":"Eugene O'Neill National Historic Site", "park_code":"euon"},
 {"park_name":"Everglades National Park", "park_code":"ever"},
 {"park_name":"Fallen Timbers Battlefield and Fort Miamis National Historic Site", "park_code":"fati"},
 {"park_name":"Federal Hall National Memorial", "park_code":"feha"},
 {"park_name":"Fire Island National Seashore", "park_code":"fiis"},
 {"park_name":"First Ladies National Historic Site", "park_code":"fila"},
 {"park_name":"First State National Historical Park", "park_code":"frst"},
 {"park_name":"Flight 93 National Memorial", "park_code":"flni"},
 {"park_name":"Florissant Fossil Beds National Monument", "park_code":"flfo"},
 {"park_name":"Ford's Theatre ", "park_code":"foth"},
 {"park_name":"Fort Bowie National Historic Site", "park_code":"fobo"},
 {"park_name":"Fort Caroline National Memorial", "park_code":"foca"},
 {"park_name":"Fort Davis National Historic Site", "park_code":"foda"},
 {"park_name":"Fort Donelson National Battlefield", "park_code":"fodo"},
 {"park_name":"Fort Dupont Park ", "park_code":"fodu"},
 {"park_name":"Fort Foote Park", "park_code":"fofo"},
 {"park_name":"Fort Frederica National Monument", "park_code":"fofr"},
 {"park_name":"Fort Laramie National Historic Site", "park_code":"fola"},
 {"park_name":"Fort Larned National Historic Site", "park_code":"fols"},
 {"park_name":"Fort Matanzas National Monument", "park_code":"foma"},
 {"park_name":"Fort McHenry National Monument and Historic Shrine", "park_code":"fomc"},
 {"park_name":"Fort Monroe National Monument", "park_code":"fomr"},
 {"park_name":"Fort Necessity National Battlefield", "park_code":"fone"},
 {"park_name":"Fort Point National Historic Site", "park_code":"fopo"},
 {"park_name":"Fort Pulaski National Monument", "park_code":"fopu"},
 {"park_name":"Fort Raleigh National Historic Site", "park_code":"fora"},
 {"park_name":"Fort Scott National Historic Site", "park_code":"fosc"},
 {"park_name":"Fort Smith National Historic Site", "park_code":"fosm"},
 {"park_name":"Fort Stanwix National Monument", "park_code":"fost"},
 {"park_name":"Fort Sumter and Fort Moultrie National Historical Park", "park_code":"fosu"},
 {"park_name":"Fort Union National Monument", "park_code":"foun"},
 {"park_name":"Fort Union Trading Post National Historic Site", "park_code":"fous"},
 {"park_name":"Fort Vancouver National Historic Site", "park_code":"fova"},
 {"park_name":"Fort Washington Park", "park_code":"fowa"},
 {"park_name":"Fossil Butte National Monument", "park_code":"fobu"},
 {"park_name":"Franklin Delano Roosevelt Memorial ", "park_code":"frde"},
 {"park_name":"Frederick Douglass National Historic Site", "park_code":"frdo"},
 {"park_name":"Frederick Law Olmsted National Historic Site", "park_code":"frla"},
 {"park_name":"Fredericksburg & Spotsylvania National Military Park", "park_code":"frsp"},
 {"park_name":"Freedom Riders National Monument", "park_code":"frri"},
 {"park_name":"Freedom's Way National Heritage Area", "park_code":"frwa"},
 {"park_name":"Friendship Hill National Historic Site", "park_code":"frhi"},
 {"park_name":"Gates Of The Arctic National Park & Preserve", "park_code":"gaar"},
 {"park_name":"Gateway Arch National Park", "park_code":"jeff"},
 {"park_name":"Gateway National Recreation Area", "park_code":"gate"},
 {"park_name":"Gauley River National Recreation Area", "park_code":"gari"},
 {"park_name":"General Grant National Memorial", "park_code":"gegr"},
 {"park_name":"George Rogers Clark National Historical Park", "park_code":"gero"},
 {"park_name":"George Washington Birthplace National Monument", "park_code":"gewa"},
 {"park_name":"George Washington Carver National Monument", "park_code":"gwca"},
 {"park_name":"George Washington Memorial Parkway", "park_code":"gwmp"},
 {"park_name":"Gettysburg National Military Park", "park_code":"gett"},
 {"park_name":"Gila Cliff Dwellings National Monument", "park_code":"gicl"},
 {"park_name":"Glacier Bay National Park & Preserve", "park_code":"glba"},
 {"park_name":"Glacier National Park", "park_code":"glac"},
 {"park_name":"Glen Canyon National Recreation Area", "park_code":"glca"},
 {"park_name":"Glen Echo Park", "park_code":"glec"},
 {"park_name":"Gloria Dei Church National Historic Site", "park_code":"glde"},
 {"park_name":"Golden Gate National Recreation Area", "park_code":"goga"},
 {"park_name":"Golden Spike National Historical Park", "park_code":"gosp"},
 {"park_name":"Governors Island National Monument", "park_code":"gois"},
 {"park_name":"Grand Canyon National Park", "park_code":"grca"},
 {"park_name":"Grand Portage National Monument", "park_code":"grpo"},
 {"park_name":"Grand Teton National Park", "park_code":"grte"},
 {"park_name":"Grant-Kohrs Ranch National Historic Site", "park_code":"grko"},
 {"park_name":"Great Basin National Park", "park_code":"grba"},
 {"park_name":"Great Egg Harbor River ", "park_code":"greg"},
 {"park_name":"Great Falls Park", "park_code":"grfa"},
 {"park_name":"Great Sand Dunes National Park & Preserve", "park_code":"grsa"},
 {"park_name":"Great Smoky Mountains National Park", "park_code":"grsm"},
 {"park_name":"Green Springs ", "park_code":"grsp"},
 {"park_name":"Greenbelt Park", "park_code":"gree"},
 {"park_name":"Guadalupe Mountains National Park", "park_code":"gumo"},
 {"park_name":"Guilford Courthouse National Military Park", "park_code":"guco"},
 {"park_name":"Gulf Islands National Seashore", "park_code":"guis"},
 {"park_name":"Gullah/Geechee Cultural Heritage Corridor", "park_code":"guge"},
 {"park_name":"Hagerman Fossil Beds National Monument", "park_code":"hafo"},
 {"park_name":"Haleakala\u0081 National Park", "park_code":"hale"},
 {"park_name":"Hamilton Grange National Memorial", "park_code":"hagr"},
 {"park_name":"Hampton National Historic Site", "park_code":"hamp"},
 {"park_name":"Harmony Hall ", "park_code":"haha"},
 {"park_name":"Harpers Ferry National Historical Park", "park_code":"hafe"},
 {"park_name":"Harriet Tubman National Historical Park", "park_code":"hart"},
 {"park_name":"Harriet Tubman Underground Railroad National Historical Park", "park_code":"hatu"},
 {"park_name":"Harry S Truman National Historic Site", "park_code":"hstr"},
 {"park_name":"Hawai'i Volcanoes National Park", "park_code":"havo"},
 {"park_name":"Herbert Hoover National Historic Site", "park_code":"heho"},
 {"park_name":"Historic Jamestowne Part of Colonial National Historical Park", "park_code":"jame"},
 {"park_name":"Home Of Franklin D Roosevelt National Historic Site", "park_code":"hofr"},
 {"park_name":"Homestead National Monument of America", "park_code":"home"},
 {"park_name":"Honouliuli National Historic Site", "park_code":"hono"},
 {"park_name":"Hopewell Culture National Historical Park", "park_code":"hocu"},
 {"park_name":"Hopewell Furnace National Historic Site", "park_code":"hofu"},
 {"park_name":"Horseshoe Bend National Military Park", "park_code":"hobe"},
 {"park_name":"Hot Springs National Park", "park_code":"hosp"},
 {"park_name":"Hovenweep National Monument", "park_code":"hove"},
 {"park_name":"Hubbell Trading Post National Historic Site", "park_code":"hutr"},
 {"park_name":"Hudson River Valley National Heritage Area", "park_code":"hurv"},
 {"park_name":"I\u00c3\u00b1upiat Heritage Center ", "park_code":"inup"},
 {"park_name":"Ice Age Floods National Geologic Trail", "park_code":"iafl"},
 {"park_name":"Ice Age National Scenic Trail", "park_code":"iatr"},
 {"park_name":"Independence National Historical Park", "park_code":"inde"},
 {"park_name":"Indiana Dunes National Park", "park_code":"indu"},
 {"park_name":"Isle Royale National Park", "park_code":"isro"},
 {"park_name":"James A Garfield National Historic Site", "park_code":"jaga"},
 {"park_name":"Jean Lafitte National Historical Park and Preserve", "park_code":"jela"},
 {"park_name":"Jewel Cave National Monument", "park_code":"jeca"},
 {"park_name":"Jimmy Carter National Historic Site", "park_code":"jica"},
 {"park_name":"John Day Fossil Beds National Monument", "park_code":"joda"},
 {"park_name":"John Fitzgerald Kennedy National Historic Site", "park_code":"jofi"},
 {"park_name":"John H. Chafee Blackstone River Valley National Heritage Corridor", "park_code":"blac"},
 {"park_name":"John Muir National Historic Site", "park_code":"jomu"},
 {"park_name":"Johnstown Flood National Memorial", "park_code":"jofl"},
 {"park_name":"Joshua Tree National Park", "park_code":"jotr"},
 {"park_name":"Journey Through Hallowed Ground National Heritage Area", "park_code":"jthg"},
 {"park_name":"Juan Bautista de Anza National Historic Trail", "park_code":"juba"},
 {"park_name":"Kalaupapa National Historical Park", "park_code":"kala"},
 {"park_name":"Kaloko-Honok\u00c5\u008dhau National Historical Park", "park_code":"kaho"},
 {"park_name":"Katahdin Woods and Waters National Monument", "park_code":"kaww"},
 {"park_name":"Katmai National Park & Preserve", "park_code":"katm"},
 {"park_name":"Kenai Fjords National Park", "park_code":"kefj"},
 {"park_name":"Kenilworth Park & Aquatic Gardens ", "park_code":"keaq"},
 {"park_name":"Kennesaw Mountain National Battlefield Park", "park_code":"kemo"},
 {"park_name":"Keweenaw National Historical Park", "park_code":"kewe"},
 {"park_name":"Kings Mountain National Military Park", "park_code":"kimo"},
 {"park_name":"Klondike Gold Rush - Seattle Unit National Historical Park", "park_code":"klse"},
 {"park_name":"Klondike Gold Rush National Historical Park", "park_code":"klgo"},
 {"park_name":"Knife River Indian Villages National Historic Site", "park_code":"knri"},
 {"park_name":"Kobuk Valley National Park", "park_code":"kova"},
 {"park_name":"Korean War Veterans Memorial ", "park_code":"kowa"},
 {"park_name":"Lake Clark National Park & Preserve", "park_code":"lacl"},
 {"park_name":"Lake Mead National Recreation Area", "park_code":"lake"},
 {"park_name":"Lake Meredith National Recreation Area", "park_code":"lamr"},
 {"park_name":"Lake Roosevelt National Recreation Area", "park_code":"laro"},
 {"park_name":"Lassen Volcanic National Park", "park_code":"lavo"},
 {"park_name":"Lava Beds National Monument", "park_code":"labe"},
 {"park_name":"LBJ Memorial Grove on the Potomac ", "park_code":"lyba"},
 {"park_name":"Lewis & Clark National Historic Trail", "park_code":"lecl"},
 {"park_name":"Lewis and Clark National Historical Park", "park_code":"lewi"},
 {"park_name":"Lincoln Boyhood National Memorial", "park_code":"libo"},
 {"park_name":"Lincoln Home National Historic Site", "park_code":"liho"},
 {"park_name":"Lincoln Memorial ", "park_code":"linc"},
 {"park_name":"Little Bighorn Battlefield National Monument", "park_code":"libi"},
 {"park_name":"Little River Canyon National Preserve", "park_code":"liri"},
 {"park_name":"Little Rock Central High School National Historic Site", "park_code":"chsc"},
 {"park_name":"Longfellow House Washington's Headquarters National Historic Site", "park_code":"long"},
 {"park_name":"Lowell National Historical Park", "park_code":"lowe"},
 {"park_name":"Lower Delaware National Wild and Scenic River", "park_code":"lode"},
 {"park_name":"Lower East Side Tenement Museum National Historic Site", "park_code":"loea"},
 {"park_name":"Lyndon B Johnson National Historical Park", "park_code":"lyjo"},
 {"park_name":"Maggie L Walker National Historic Site", "park_code":"mawa"},
 {"park_name":"Maine Acadian Culture ", "park_code":"maac"},
 {"park_name":"Mammoth Cave National Park", "park_code":"maca"},
 {"park_name":"Manassas National Battlefield Park", "park_code":"mana"},
 {"park_name":"Manhattan Project National Historical Park", "park_code":"mapr"},
 {"park_name":"Manzanar National Historic Site", "park_code":"manz"},
 {"park_name":"Marsh - Billings - Rockefeller National Historical Park", "park_code":"mabi"},
 {"park_name":"Martin Luther King, Jr. Memorial ", "park_code":"mlkm"},
 {"park_name":"Martin Luther King, Jr. National Historical Park", "park_code":"malu"},
 {"park_name":"Martin Van Buren National Historic Site", "park_code":"mava"},
 {"park_name":"Mary McLeod Bethune Council House National Histo", "park_code":"mamc"},
 {"park_name":"Mesa Verde National Park", "park_code":"meve"},
 {"park_name":"Mill Springs Battlefield National Monument", "park_code":"misp"},
 {"park_name":"Minidoka National Historic Site", "park_code":"miin"},
 {"park_name":"Minute Man National Historical Park", "park_code":"mima"},
 {"park_name":"Minuteman Missile National Historic Site", "park_code":"mimi"},
 {"park_name":"Mississippi Delta National Heritage Area", "park_code":"mide"},
 {"park_name":"Mississippi Gulf National Heritage Area", "park_code":"migu"},
 {"park_name":"Mississippi Hills National Heritage Area", "park_code":"mihi"},
 {"park_name":"Mississippi National River and Recreation Area", "park_code":"miss"},
 {"park_name":"Missouri National Recreational River", "park_code":"mnrr"},
 {"park_name":"Mojave National Preserve", "park_code":"moja"},
 {"park_name":"Monocacy National Battlefield", "park_code":"mono"},
 {"park_name":"Montezuma Castle National Monument", "park_code":"moca"},
 {"park_name":"Moores Creek National Battlefield", "park_code":"mocr"},
 {"park_name":"Mormon Pioneer National Historic Trail", "park_code":"mopi"},
 {"park_name":"Morristown National Historical Park", "park_code":"morr"},
 {"park_name":"Motor Cities National Heritage Area", "park_code":"auto"},
 {"park_name":"Mount Rainier National Park", "park_code":"mora"},
 {"park_name":"Mount Rushmore National Memorial", "park_code":"moru"},
 {"park_name":"Muir Woods National Monument", "park_code":"muwo"},
 {"park_name":"Muscle Shoals National Heritage Area", "park_code":"mush"},
 {"park_name":"Natchez National Historical Park", "park_code":"natc"},
 {"park_name":"Natchez Trace National Scenic Trail", "park_code":"natt"},
 {"park_name":"Natchez Trace Parkway", "park_code":"natr"},
 {"park_name":"National Aviation Heritage Area", "park_code":"avia"},
 {"park_name":"National Capital Parks-East ", "park_code":"nace"},
 {"park_name":"National Mall and Memorial Parks ", "park_code":"nama"},
 {"park_name":"National Park of American Samoa ", "park_code":"npsa"},
 {"park_name":"National Parks of New York Harbor ", "park_code":"npnh"},
 {"park_name":"Natural Bridges National Monument", "park_code":"nabr"},
 {"park_name":"Navajo National Monument", "park_code":"nava"},
 {"park_name":"New Bedford Whaling National Historical Park", "park_code":"nebe"},
 {"park_name":"New England National Scenic Trail", "park_code":"neen"},
 {"park_name":"New Jersey Pinelands National Reserve", "park_code":"pine"},
 {"park_name":"New Orleans Jazz National Historical Park", "park_code":"jazz"},
 {"park_name":"New River Gorge National River", "park_code":"neri"},
 {"park_name":"Nez Perce National Historical Park", "park_code":"nepe"},
 {"park_name":"Niagara Falls National Heritage Area", "park_code":"nifa"},
 {"park_name":"Nicodemus National Historic Site", "park_code":"nico"},
 {"park_name":"Ninety Six National Historic Site", "park_code":"nisi"},
 {"park_name":"Niobrara National Scenic River", "park_code":"niob"},
 {"park_name":"Noatak National Preserve", "park_code":"noat"},
 {"park_name":"North Cascades National Park", "park_code":"noca"},
 {"park_name":"North Country National Scenic Trail", "park_code":"noco"},
 {"park_name":"Obed Wild & Scenic River", "park_code":"obed"},
 {"park_name":"Ocmulgee Mounds National Historical Park", "park_code":"ocmu"},
 {"park_name":"Oil Region National Heritage Area", "park_code":"oire"},
 {"park_name":"Oklahoma City National Memorial", "park_code":"okci"},
 {"park_name":"Old Spanish National Historic Trail", "park_code":"olsp"},
 {"park_name":"Olympic National Park", "park_code":"olym"},
 {"park_name":"Oregon Caves National Monument & Preserve", "park_code":"orca"},
 {"park_name":"Oregon National Historic Trail", "park_code":"oreg"},
 {"park_name":"Organ Pipe Cactus National Monument", "park_code":"orpi"},
 {"park_name":"Overmountain Victory National Historic Trail", "park_code":"ovvi"},
 {"park_name":"Oxon Cove  Park & Oxon Hill Farm ", "park_code":"oxhi"},
 {"park_name":"Ozark National Scenic Riverways", "park_code":"ozar"},
 {"park_name":"Padre Island National Seashore", "park_code":"pais"},
 {"park_name":"Palo Alto Battlefield National Historical Park", "park_code":"paal"},
 {"park_name":"Parashant National Monument", "park_code":"para"},
 {"park_name":"Paterson Great Falls National Historical Park", "park_code":"pagr"},
 {"park_name":"Pea Ridge National Military Park", "park_code":"peri"},
 {"park_name":"Pearl Harbor National Memorial", "park_code":"valr"},
 {"park_name":"Pecos National Historical Park", "park_code":"peco"},
 {"park_name":"Pennsylvania Avenue ", "park_code":"paav"},
 {"park_name":"Perry's Victory & International Peace Memorial", "park_code":"pevi"},
 {"park_name":"Petersburg National Battlefield", "park_code":"pete"},
 {"park_name":"Petrified Forest National Park", "park_code":"pefo"},
 {"park_name":"Petroglyph National Monument", "park_code":"petr"},
 {"park_name":"Pictured Rocks National Lakeshore", "park_code":"piro"},
 {"park_name":"Pinnacles National Park", "park_code":"pinn"},
 {"park_name":"Pipe Spring National Monument", "park_code":"pisp"},
 {"park_name":"Pipestone National Monument", "park_code":"pipe"},
 {"park_name":"Piscataway Park", "park_code":"pisc"},
 {"park_name":"Point Reyes National Seashore", "park_code":"pore"},
 {"park_name":"Pony Express National Historic Trail", "park_code":"poex"},
 {"park_name":"Port Chicago Naval Magazine National Memorial", "park_code":"poch"},
 {"park_name":"Potomac Heritage National Scenic Trail", "park_code":"pohe"},
 {"park_name":"Poverty Point National Monument", "park_code":"popo"},
 {"park_name":"President William Jefferson Clinton Birthplace Home National Historic Site", "park_code":"wicl"},
 {"park_name":"President's Park (White House) ", "park_code":"whho"},
 {"park_name":"Presidio of San Francisco ", "park_code":"prsf"},
 {"park_name":"Prince William Forest Park", "park_code":"prwi"},
 {"park_name":"Pu`ukohol\u00c4\u0081 Heiau National Historic Site", "park_code":"puhe"},
 {"park_name":"Pu\u00ca\u00bbuhonua o H\u00c5\u008dnaunau National Historical Park", "park_code":"puho"},
 {"park_name":"Pullman National Monument", "park_code":"pull"},
 {"park_name":"Rainbow Bridge National Monument", "park_code":"rabr"},
 {"park_name":"Reconstruction Era National Historical Park", "park_code":"reer"},
 {"park_name":"Redwood National and State Parks", "park_code":"redw"},
 {"park_name":"Richmond National Battlefield Park", "park_code":"rich"},
 {"park_name":"Rio Grande Wild & Scenic River", "park_code":"rigr"},
 {"park_name":"River Raisin National Battlefield Park", "park_code":"rira"},
 {"park_name":"Rivers Of Steel National Heritage Area", "park_code":"rist"},
 {"park_name":"Rock Creek Park", "park_code":"rocr"},
 {"park_name":"Rocky Mountain National Park", "park_code":"romo"},
 {"park_name":"Roger Williams National Memorial", "park_code":"rowi"},
 {"park_name":"Roosevelt Campobello International Park", "park_code":"roca"},
 {"park_name":"Rosie the Riveter WWII Home Front National Historical Park", "park_code":"rori"},
 {"park_name":"Russell Cave National Monument", "park_code":"ruca"},
 {"park_name":"Sagamore Hill National Historic Site", "park_code":"sahi"},
 {"park_name":"Saguaro National Park", "park_code":"sagu"},
 {"park_name":"Saint Croix Island International Historic Site", "park_code":"sacr"},
 {"park_name":"Saint Croix National Scenic Riverway", "park_code":"sacn"},
 {"park_name":"Saint Paul's Church National Historic Site", "park_code":"sapa"},
 {"park_name":"Sainte Genevi\u00c3\u00a8ve National Historical Park", "park_code":"stge"},
 {"park_name":"Saint-Gaudens National Historical Park", "park_code":"saga"},
 {"park_name":"Salem Maritime National Historic Site", "park_code":"sama"},
 {"park_name":"Salinas Pueblo Missions National Monument", "park_code":"sapu"},
 {"park_name":"Salt River Bay National Historical Park and Ecological Preserve", "park_code":"sari"},
 {"park_name":"San Antonio Missions National Historical Park", "park_code":"saan"},
 {"park_name":"San Francisco Maritime National Historical Park", "park_code":"safr"},
 {"park_name":"San Juan Island National Historical Park", "park_code":"sajh"},
 {"park_name":"San Juan National Historic Site", "park_code":"saju"},
 {"park_name":"Sand Creek Massacre National Historic Site", "park_code":"sand"},
 {"park_name":"Santa Fe National Historic Trail", "park_code":"safe"},
 {"park_name":"Santa Monica Mountains National Recreation Area", "park_code":"samo"},
 {"park_name":"Saratoga National Historical Park", "park_code":"sara"},
 {"park_name":"Saugus Iron Works National Historic Site", "park_code":"sair"},
 {"park_name":"Schuylkill River Valley National Heritage Area", "park_code":"scrv"},
 {"park_name":"Scotts Bluff National Monument", "park_code":"scbl"},
 {"park_name":"Selma To Montgomery National Historic Trail", "park_code":"semo"},
 {"park_name":"Sequoia & Kings Canyon National Parks", "park_code":"seki"},
 {"park_name":"Shenandoah National Park", "park_code":"shen"},
 {"park_name":"Shenandoah Valley Battlefields National Historic District", "park_code":"shvb"},
 {"park_name":"Shiloh National Military Park", "park_code":"shil"},
 {"park_name":"Sitka National Historical Park", "park_code":"sitk"},
 {"park_name":"Sleeping Bear Dunes National Lakeshore", "park_code":"slbe"},
 {"park_name":"South Carolina National Heritage Corridor", "park_code":"soca"},
 {"park_name":"Springfield Armory National Historic Site", "park_code":"spar"},
 {"park_name":"Star-Spangled Banner National Historic Trail", "park_code":"stsp"},
 {"park_name":"Statue Of Liberty National Monument", "park_code":"stli"},
 {"park_name":"Steamtown National Historic Site", "park_code":"stea"},
 {"park_name":"Stones River National Battlefield", "park_code":"stri"},
 {"park_name":"Stonewall National Monument", "park_code":"ston"},
 {"park_name":"Sunset Crater Volcano National Monument", "park_code":"sucr"},
 {"park_name":"Tallgrass Prairie National Preserve", "park_code":"tapr"},
 {"park_name":"Tennessee Civil War National Heritage Area", "park_code":"tecw"},
 {"park_name":"Thaddeus Kosciuszko National Memorial", "park_code":"thko"},
 {"park_name":"The Last Green Valley National Heritage Corridor", "park_code":"qush"},
 {"park_name":"Theodore Roosevelt Birthplace National Historic Site", "park_code":"thrb"},
 {"park_name":"Theodore Roosevelt Inaugural National Historic Site", "park_code":"thri"},
 {"park_name":"Theodore Roosevelt Island ", "park_code":"this"},
 {"park_name":"Theodore Roosevelt National Park", "park_code":"thro"},
 {"park_name":"Thomas Cole National Historic Site", "park_code":"thco"},
 {"park_name":"Thomas Edison National Historical Park", "park_code":"edis"},
 {"park_name":"Thomas Jefferson Memorial ", "park_code":"thje"},
 {"park_name":"Thomas Stone National Historic Site", "park_code":"thst"},
 {"park_name":"Timpanogos Cave National Monument", "park_code":"tica"},
 {"park_name":"Timucuan Ecological & Historic Preserve", "park_code":"timu"},
 {"park_name":"Tonto National Monument", "park_code":"tont"},
 {"park_name":"Touro Synagogue National Historic Site", "park_code":"tosy"},
 {"park_name":"Trail Of Tears National Historic Trail", "park_code":"trte"},
 {"park_name":"Tule Lake National Monument", "park_code":"tule"},
 {"park_name":"Tule Springs Fossil Beds National Monument", "park_code":"tusk"},
 {"park_name":"Tumac\u00c3\u00a1cori National Historical Park", "park_code":"tuma"},
 {"park_name":"Tupelo National Battlefield", "park_code":"tupe"},
 {"park_name":"Tuskegee Airmen National Historic Site", "park_code":"tuai"},
 {"park_name":"Tuskegee Institute National Historic Site", "park_code":"tuin"},
 {"park_name":"Tuzigoot National Monument", "park_code":"tuzi"},
 {"park_name":"Ulysses S Grant National Historic Site", "park_code":"ulsg"},
 {"park_name":"Upper Delaware Scenic & Recreational River", "park_code":"upde"},
 {"park_name":"Upper Housatonic Valley National Heritage Area", "park_code":"uphv"},
 {"park_name":"Valles Caldera National Preserve", "park_code":"vall"},
 {"park_name":"Valley Forge National Historical Park", "park_code":"vafo"},
 {"park_name":"Vanderbilt Mansion National Historic Site", "park_code":"vama"},
 {"park_name":"Vicksburg National Military Park", "park_code":"vick"},
 {"park_name":"Vietnam Veterans Memorial", "park_code":"vive"},
 {"park_name":"Virgin Islands Coral Reef National Monument", "park_code":"vicr"},
 {"park_name":"Virgin Islands National Park", "park_code":"viis"},
 {"park_name":"Voyageurs National Park", "park_code":"voya"},
 {"park_name":"Waco Mammoth National Monument", "park_code":"waco"},
 {"park_name":"Walnut Canyon National Monument", "park_code":"waca"},
 {"park_name":"War In The Pacific National Historical Park", "park_code":"wapa"},
 {"park_name":"Washington Monument ", "park_code":"wamo"},
 {"park_name":"Washington-Rochambeau Revolutionary Route National Historic Trail", "park_code":"waro"},
 {"park_name":"Washita Battlefield National Historic Site", "park_code":"waba"},
 {"park_name":"Weir Farm National Historic Site", "park_code":"wefa"},
 {"park_name":"Wheeling National Heritage Area", "park_code":"whee"},
 {"park_name":"Whiskeytown National Recreation Area", "park_code":"whis"},
 {"park_name":"White Sands National Park", "park_code":"whsa"},
 {"park_name":"Whitman Mission National Historic Site", "park_code":"whmi"},
 {"park_name":"William Howard Taft National Historic Site", "park_code":"wiho"},
 {"park_name":"Wilson's Creek National Battlefield", "park_code":"wicr"},
 {"park_name":"Wind Cave National Park", "park_code":"wica"},
 {"park_name":"Wing Luke Museum Affiliated Area", "park_code":"wing"},
 {"park_name":"Wolf Trap National Park for the Performing Arts ", "park_code":"wotr"},
 {"park_name":"Women's Rights National Historical Park", "park_code":"wori"},
 {"park_name":"World War II Memorial ", "park_code":"wwii"},
 {"park_name":"Wrangell - St Elias National Park & Preserve", "park_code":"wrst"},
 {"park_name":"Wright Brothers National Memorial", "park_code":"wrbr"},
 {"park_name":"Wupatki National Monument", "park_code":"wupa"},
 {"park_name":"Yellowstone National Park", "park_code":"yell"},
 {"park_name":"Yorktown Battlefield Part of Colonial National Historical Park", "park_code":"york"},
 {"park_name":"Yosemite National Park", "park_code":"yose"},
 {"park_name":"Yucca House National Monument", "park_code":"yuho"},
 {"park_name":"Yukon - Charley Rivers National Preserve", "park_code":"yuch"},
 {"park_name":"Zion National Park", "park_code":"zion"}]

        var park = document.getElementById('selectedPark');
        for (var i = 0; i < parks.length; i++) {
            // POPULATE SELECT ELEMENT WITH JSON.
            park.innerHTML = park.innerHTML +
                '<option value="' + parks[i]['park_code'] + '">' + parks[i]['park_name'] + '</option>';
            }
        };

        function showPark(park) {
            // GET THE SELECTED VALUE FROM <select> ELEMENT AND SHOW IT.
            var parkSelected = document.getElementById('parkSelected');
            console.log(park, 'parkSelected');
            parkSelected.innerHTML = 'Selected Park: <br><b>' + 
                park.options[park.selectedIndex].text;
            localStorage.parkSelected=park.value
            localStorage.parkSelectedName=park.options[park.selectedIndex].text 
            localStorage.chosenParkCode=park.value
        };

    // ***************************************************************************
    // filteredParkblock

        var filteredParks="";

        function populateFilteredParks() {
        // THE JSON ARRAY.
        $("#selectedFilteredPark").empty();
        
        filteredParks = JSON.parse(localStorage.filteredParks)
        
        let filteredPark = document.getElementById('selectedFilteredPark');
        for (var i = 0; i < filteredParks.length; i++) {
            // POPULATE SELECT ELEMENT WITH JSON.
            filteredPark.innerHTML = filteredPark.innerHTML +
                '<option value="' + filteredParks[i]['parkCode'] + '">' + filteredParks[i]['fullName'] + '</option>';
            }
        };

        var chosenParkCode 

        function saveParkCode(parkCode){
        localStorage.chosenParkCode =  parkCode;
        }

        function showFilteredPark(filteredPark) {
            $("#finalParkSelection").empty();
            // GET THE SELECTED VALUE FROM <select> ELEMENT AND SHOW IT.
            var filteredParkSelected = document.getElementById('selectedFilteredPark');
            let parkChoice = filteredPark.options[filteredPark.selectedIndex].text 

            // selectedFilteredPark.innerHTML = 'Selected Filtered Park: <b>' + 
            //     parkChoice + '</b> </br>' +
            //     'ID: <b class="codes">' + 'code' + filteredPark.value + '</b>';
            selectedFilteredPark.innerHTML = 'ID: <b class="codes">' + 'code' + filteredPark.value + '</b>';
                console.log(selectedFilteredPark.innerHTML);
            let chosenParkCode = selectedFilteredPark.innerHTML.slice(8);
            let displayPark = 'Park Chosen: ' +  '</b> </br>' + parkChoice;

            $('#finalParkSelection').append(displayPark);

            console.log('Park Choice Code: ' + chosenParkCode)
            console.log('Park Choice Name: ' + parkChoice)
            saveParkCode(chosenParkCode);

            //    event.preventDefault();
        };

 










    // ***************************************************************************
    // list population and listeners



    populatePark()
    populateTopic()
    populateActivity()

$(".list-group-item").on("click", function(){
let code = $(this).find(".codes").text();
console.log(code);
});

$("#activitySelected").on("click", function(){
let code = $(this).find(".codes").text();
// console.log("Activity = " + code);
getParksFromActivities()
// populateFilteredParks()
});

$("#topicSelected").on("click", function(){
let code = $(this).find(".codes").text();
console.log("Topic listener fired");
getParksFromTopics()
// populateFilteredParks()
});

$("#parkSelected").on("click", function(){
    $("#finalParkSelection").empty()
    let displayPark = 'Park Chosen: ' +  '</b> </br>' + localStorage.parkSelectedName;
    $('#finalParkSelection').append(displayPark)
});

$("#focus-on-park").on("click", function(){
  getParkFocusInfo()  
});

$("#clear-search").on("click", function(){

    $("#finalParkSelection").empty();
});

// $('#focus-on-park').on("click", function(){

// getSelectedParkInfo()

// });

</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src= "./apiCalls.js"></script>
<script src= "./apiCalls.js"></script>

</html>