<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Explore Page</title>
    <!--Bootstrap CSS CDN-->
    {{!-- <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" /> --}}
    <!-- Font Awesome CSS Icons (For cool glyphicons) -->
    {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css"> --}}
</head>

<body>
    <!--Jumbotron for Title-->
    <div class="jumbotron container-fluid mt-2 text-center p-2" style="background-color:#404040 ;color: white;">
        <h1>Let's Explore our National Parks !</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 bg-grey">

                <h5>Choose an Activity, Topic or Park</h5>

                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">
                        Activities
                    </button>
                    <button type="button" class="btn btn-primary">
                        <select class=" custom-select" id="selectedActivity" onchange="showActivity(this)">
                            <option value="">-- Select --</option>
                        </select>
                    </button>
                </div>
                <hr>

                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">
                        Topics
                    </button>
                    <button type="button" class="btn btn-primary">
                        <select class="custom-select" id="selectedTopic" onchange="showTopic(this)">
                            <option value="">-- Select --</option>
                        </select>
                    </button>
                </div>
                <hr>
                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">
                        Parks
                    </button>
                    <button type="button" class="btn btn-primary">
                        <select class="custom-select" id="selectedPark" onchange="showPark(this)">
                            <option value="">-- Select --</option>
                        </select>
                    </button>
                </div>
                <!-- <hr> -->

            </div>

            <div class="col-sm-4">

            <h5 style='padding-left: 20px'>Generate matching list of Parks</h5>
                <div class="col-sm-12" id="Park-info">
                    <ul class="list-group">
                        <li class="list-group-item" id="activitySelected">

                        </li>
                        <li class="list-group-item" id="topicSelected">

                        </li>
                        <li class="list-group-item" id="parkSelected">

                        </li>
                    </ul>
                </div>
                
            </div>
            <div class="col-sm-4" >

            <h5>Select a Park to Focus upon</h5>

                <div class="btn-group dropright">
                    <button type="button" class="btn btn-primary">
                        Filtered Parks
                    </button>
                    <button type="button" class="btn btn-primary">
                        <select class="custom-select" id="selectedFilteredPark" 
                        onchange="showFilteredPark(this)">
                            <option value="">-- Select --</option>
                        </select>
                    </button>
                    <br>
                </div>

                <br>
               <div class="h4" id="finalParkSelection" align='left'></div>

                <br>

                <button class=" btn btn-primary" style="margin:5px" type="button" id="clear-search">Clear</button>

                <button class=" btn btn-primary" style="margin:5px" float="right" type="button"
                    id="focus-on-park">focus</button>
            </div>


            <!-- <div class="row ml-2 border border-dark rounded"> -->
            <!-- </div> -->
        </div>
        <hr>
    </div>
   
    <!--jQuery JS-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    
<!--Code to Jvascript File-->

</body>
<script>

console.log(activities);

    {{!-- const fs = require("fs");

     let parkTopics = fs.readFileSync("./data/topics.json", "utf8");

     console.log(parkTopics); --}}

    function populateTopic() {
        var topic = document.getElementById('selectedTopic');
        for (var i = 0; i < topics.length; i++) {
            // POPULATE SELECT ELEMENT WITH JSON.
            topic.innerHTML = topic.innerHTML +
                '<option value="' + topics[i]['topic_code'] + '">' + topics[i]['topic_name'] + '</option>';
        }
    }


    function showTopic(topic) {
        // GET THE SELECTED VALUE FROM <select> ELEMENT AND SHOW IT.
        var topicSelected = document.getElementById('topicSelected');
        topicSelected.innerHTML = 'Selected Topic: <br><b>' + topic.options[topic.selectedIndex].text;
        console.log('showing topic: ' + topic.value);
        console.log(topic.value);
        localStorage.topicSelected=topic.value  
    
        }


    // ***************************************************************************
    // Activity block
    let activitySelectedCode =""
    function populateActivity() {
        var activity = document.getElementById('selectedActivity');
        for (var i = 0; i < activities.length; i++) {
            // POPULATE SELECT ELEMENT WITH JSON.
            activity.innerHTML = activity.innerHTML +
                '<option value="' + activities[i]['activity_code'] + '">' + activities[i]['activity_name'] + '</option>';
        }
    }

    function showActivity(activity) {
        // GET THE SELECTED VALUE FROM <select> ELEMENT AND SHOW IT.
        var activitySelected = document.getElementById('activitySelected');
        activitySelected.innerHTML = 'Selected Activity: <br><b>' + activity.options[activity.selectedIndex].text;
        console.log(activity.value)
        activitySelectedCode=activity.value
        console.log(activitySelectedCode);
        localStorage.activitySelected=activity.value  
    
        }

    // ***************************************************************************
    // Parkblock

    function populatePark() {
        var park = document.getElementById('selectedPark');
        for (var i = 0; i < parks.length; i++) {
            // POPULATE SELECT ELEMENT WITH JSON.
            park.innerHTML = park.innerHTML +
                '<option value="' + parks[i]['park_code'] + '">' + parks[i]['park_name'] + '</option>';
            }
        };

        function showPark(park) {
            // GET THE SELECTED VALUE FROM <select> ELEMENT AND SHOW IT.
            var parkSelected = document.getElementById('parkSelected');
            console.log(park, 'parkSelected');
            parkSelected.innerHTML = 'Selected Park: <br><b>' + 
                park.options[park.selectedIndex].text;
            localStorage.parkSelected=park.value
            localStorage.parkSelectedName=park.options[park.selectedIndex].text 
            localStorage.chosenParkCode=park.value
        };

    // ***************************************************************************
    // filteredParkblock

        var filteredParks="";

        function populateFilteredParks() {
        // THE JSON ARRAY.
        $("#selectedFilteredPark").empty();
        
        filteredParks = JSON.parse(localStorage.filteredParks)

        console.log(filteredParks)

        let z = filteredParks[0];

        filteredParks.unshift(z)

        console.log('Updated parks: ' + filteredParks)

        
        let filteredPark = document.getElementById('selectedFilteredPark');
        for (var i = 0; i < filteredParks.length; i++) {
            // POPULATE SELECT ELEMENT WITH JSON.
            filteredPark.innerHTML = filteredPark.innerHTML +
                '<option value="' + filteredParks[i]['parkCode'] + '">' + filteredParks[i]['fullName'] + '</option>';
            }
        };

        var chosenParkCode 

        function saveParkCode(parkCode){
        localStorage.chosenParkCode =  parkCode;
        }

        function showFilteredPark(filteredPark) {
            $("#finalParkSelection").empty();
            // GET THE SELECTED VALUE FROM <select> ELEMENT AND SHOW IT.
            var filteredParkSelected = document.getElementById('selectedFilteredPark');
            let parkChoice = filteredPark.options[filteredPark.selectedIndex].text 

            // selectedFilteredPark.innerHTML = 'Selected Filtered Park: <b>' + 
            //     parkChoice + '</b> </br>' +
            //     'ID: <b class="codes">' + 'code' + filteredPark.value + '</b>';
            selectedFilteredPark.innerHTML = 'ID: <b class="codes">' + 'code' + filteredPark.value + '</b>';
                console.log(selectedFilteredPark.innerHTML);
            let chosenParkCode = selectedFilteredPark.innerHTML.slice(8);
            let displayPark = 'Park Chosen: ' +  '</b> </br>' + parkChoice;

            $('#finalParkSelection').append(displayPark);

            console.log('Park Choice Code: ' + chosenParkCode)
            console.log('Park Choice Name: ' + parkChoice)
            saveParkCode(chosenParkCode);

            //    event.preventDefault();
        };

 










    // ***************************************************************************
    // list population and listeners



    populatePark()
    populateTopic()
    populateActivity()

$(".list-group-item").on("click", function(){
let code = $(this).find(".codes").text();
console.log(code);
});

$("#activitySelected").on("click", function(){
let code = $(this).find(".codes").text();
// console.log("Activity = " + code);
getParksFromActivities()
// populateFilteredParks()
});

$("#topicSelected").on("click", function(){
let code = $(this).find(".codes").text();
console.log("Topic listener fired");
getParksFromTopics()
// populateFilteredParks()
});

$("#parkSelected").on("click", function(){
    $("#finalParkSelection").empty()
    let displayPark = 'Park Chosen: ' +  '</b> </br>' + localStorage.parkSelectedName;
    $('#finalParkSelection').append(displayPark)
});

$("#focus-on-park").on("click", function(){
  getParkFocusInfo()  
});

$("#clear-search").on("click", function(){

    $("#finalParkSelection").empty();
});

// $('#focus-on-park').on("click", function(){

// getSelectedParkInfo()

// });

</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
{{!-- <script src= "./apiCalls.js"></script>
<script src= "./apiCalls.js"></script> --}}

</html>