<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

    <title>BucketList Focus</title>

</head>
<body>
    <!--Jumbotron Page Title-->
    <div class="jumbotron container-fluid mt-2 text-center p-2 font-size:1.8rem; font-weight:lighter" style="background-color:#404040 ;color: white; 
    font-size:1.8rem; font-weight:lighter" id = "header">

<script>


</script>
    </div>
    <div class="container">
        <!--Row for searching a park-->
        <div class="row">


            <div class="col-sm-3 bg-light">
                <h5 class="pt-1" id = activitiesHed></h5>
                <!--Here we create the list of activities at the park-->
               
                <ul id='activityID'; style='padding-left: 20px'> </ul>

                <h5 class="pt-1" id = topicsHed></h5>
                <!--Here we create the list of topics at the park-->
                <ul id='topicID' style='padding-left: 20px'></ul>

            </div>   

            <div class="col-sm-9">
               
                <div>
                    <h3 id = photoHed></h3>
                    <div id=photo1></div>
                    <p id = photoCredit1></p>
                    <h4 id = photoTitle1></h4>
                    <p id = caption1></p>
                    <br>
                    <br>                
                </div>
                
                <div class="row ml-12 border border-dark rounded">
                    <div class="col-sm-12" id="current-park">
                        <h4 class="mb-1 mt-2 bolder" id="park-data"></h4>
                        <p id = parkName></p>
                        <p id = location></p>
                        <p id = description></p> 
                        <p id = website></p>
                        <p id = phoneNumber></p>
                        <p id = parkEmail></p>
                    </div>
                </div>
                
                <br>                
                <br>
               <h4 id = userNotes></h4>
                <hr>
                <form>
                    <fieldset class="form-group">
                        <div class="row">
                          <legend class="col-form-label col-sm-2 pt-0" id="rateThisPark"></legend>
                          <div class="col-sm-10">
                            <div class="parkRating">
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="1" >
                                <label class="form-check-label" for="gridRadios1">
                                  1. Forget about it
                                </label> 
                              <br>
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="2">
                                <label class="form-check-label" for="gridRadios2">
                                  2. Worth a second look
                                </label>
                              <br>
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="3">
                                <label class="form-check-label" for="gridRadios3">
                                    3. Interesting
                                </label>
                              <br>
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios4" value="4" checked>
                                <label class="form-check-label" for="gridRadios4">
                                    4. Let's visit if we're in the area
                                </label>
                              <br>
                                <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios5" value="5">
                                <label class="form-check-label" for="gridRadios5">
                                    5. This park is worth a special trip just to visit it
                                </label>
                              </div>
                          </div>
                        </div>
                      </fieldset>
                      <br>
  
                    <div class="form-group row">
                      <label for="inputActivities" class="col-sm-2 col-form-label">Activities you'd like to do at this park</label>
                      <div class="col-sm-10">
                        <input class="form-control"  id="inputActivities" placeholder="At this park, we'd enjoy doing ...">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputActivities" class="col-sm-2 col-form-label">Topics you'd like to explore at this park</label>
                      <div class="col-sm-10">
                        <input class="form-control"  id="inputTopics" placeholder="At this park, we'd enjoy doing ...">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNotes" class="col-sm-2 col-form-label">Travel plans</label>
                        <div class="col-sm-10">
                          <input class="form-control" id="inputTravel" placeholder="When and how to travel to this park ...">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputNotes" class="col-sm-2 col-form-label">Other notes about this park.</label>
                      <div class="col-sm-10">
                        <input class="form-control" id="inputNotes" placeholder="More notes to plan your stay ...">
                      {{ park_Info.notes}}
                      
                      </div>
                    </div>
                    <div class="form-group row">
                      <div class="col-sm-10">
                        <button type="button" id="add-to-bucket" class="btn btn-primary">Save this park to your bucket list</button>
                      </div>
                    </div>
                  </form>
                  <hr>
            </div>
        </div>
      </div>
    <!--jQuery JS-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <!--Code to Jvascript File-->
    <script src="script.js"></script>

<script>

let acadia = JSON.parse(localStorage.parkResponse);
let activitiesFound =acadia.data[0].activities;
let topicsFound = acadia.data[0].topics;
let parkName = acadia.data[0].fullName;
let parkCode = acadia.data[0].parkCode;
let activitiesAdded ="";
let topicsAdded ="";

activitiesFound.forEach(element => {
      let activityName = element.name;
      let newListElement = $('<li class="activity">').text(activityName);
      newListElement.attr('dataActivity', activityName )
      $('#activityID').append(newListElement);
})

topicsFound.forEach(element => {
      let topicName = element.name;
      let newListElement = $('<li class="topic">').text(topicName);
      newListElement.attr('dataTopic', topicName )
      $('#topicID').append(newListElement);

})

$(".activity").on("click", function(){
    let activityAdd = $(this).attr('dataActivity');
    console.log(activityAdd);
    activitiesAdded = activityAdd  + ', ' + activitiesAdded;
    $('#inputActivities').attr("placeholder", activitiesAdded)
});

$(".topic").on("click", function(){
    let topicAdd = $(this).attr('dataTopic');
    console.log(topicAdd);
        topicsAdded = topicAdd  + ', ' + topicsAdded;
    $('#inputTopics').attr("placeholder", topicsAdded)
});

$("#add-to-bucket").on("click", function(){

let bucketItem =
        { parkName : parkName,

        parkCode: parkCode,

        parkRating: document.querySelector('input[name="gridRadios"]:checked').value,

        activities: activitiesAdded,

        topics: topicsAdded,

        travel: $('#inputTravel').val(),

        notes: $('#inputNotes').val()

         };

console.log(document.querySelector('input[name="gridRadios"]:checked').text)


console.log(focusResults);

          $.ajax({
          url: '/api/trips',
          method: "POST",
          data: bucketItem
        })
    
          .then(function(response) {
    
            console.log(response);
      
          });  
});

$('#header').append("<h1><strong>Let's Focus on " + parkName + "</strong><h1>");
$('#parkName').append("Park Name: " + parkName);
$('#location').append("Location: " + acadia.data[0].addresses[0].city +", " + acadia.data[0].addresses[0].stateCode);
$('#description').append("Description: " + acadia.data[0].description);
$('#website').append("Website: <a href>" + acadia.data[0].url + "</a>");
$('#phoneNumber').append("Telephone " + acadia.data[0].contacts.phoneNumbers[0].phoneNumber);
$('#parkEmail').append("Park Email: " + acadia.data[0].contacts.emailAddresses[0].emailAddress);
let shortName = acadia.data[0].name;
$('#photoHed').append("Photo From " + shortName);
$('#caption1').append(acadia.data[0].images[0].caption);
$('#photo1').append("<img src='" + acadia.data[0].images[0].url + "' width='100%'>");
$('#photoCredit1').append(acadia.data[0].images[0].credit);
$('#photoTitle1').append(acadia.data[0].images[0].title);
$('#activitiesHed').append("<strong>" + shortName + " Actvities</strong>");
$('#topicsHed').append("<strong>" + shortName + " Topics</strong>");
$('#userNotes').append("<strong>Record Your Notes About " + shortName + "</strong>");
$('#moreParkPhotos').append("More photos of " + shortName);
$('#rateThisPark').append("Rate " + shortName);

</script>


</body>
</html>