
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;  
}

.jumbotron {
    height: 40px;
    width: 90%
  }


h1{
    font-size:1.5rem; 
    font-weight:lighter
}
h3{
    font-weight: lighter;
}
.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
