
*{
    box-sizing: border-box;
    
}

body {
    
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;  
}

.jumbotron {
    height: 40px;
    width: 90%;
    vertical-align: middle;
  }

h1{
    font-size:1.3rem; 
    font-weight:lighter;
    vertical-align: middle
}
h3{
    font-weight: lighter;
}
h5{
    text-align:left;
}

h6{
    font-size: 1.25rem;
    text-align:left
}

.forecast{
    
    font-size: 0.9em;
}
span{
    font-size: 1em;
}
li:hover{
    background-color: lightslategray;
    text-decoration: underline;
}
.card-carousel img {
    height:550px;
    width:850px
  }

  .card-carousel {
    background: lightgray;
    border: none;
    height: 100%;
    width: 100%
  }

  /* .card-carousel p {
    background: lightgray;
    border: none
  } */

